.green{
    color: green;
}
span{
    color: red;
    font-family: 'Georgia', serif;
    font-weight: 650;
}
.text-decor{
    text-decoration: overline underline;
}
strong{
    font-size: 30px;
}
.red{
    color: red;
}
.blue{
    color: blue;
    font-family: 'Georgia', serif;
    font-weight: 700;
}